<%= render 'form', cat: @cat, action: :edit %>

<%# <form action="<%= cat_url(@cat) %>
  <!-- <input type="hidden" name="_method" value="patch">
  <label>
    Name:
    <input type="text" name="cat[name]" value="<%#= @cat.name %>">
  </label>
  <br>
  <label>
    birth_date:
    <input type="text" name="cat[birth_date]" value="<%#= @cat.birth_date %>">
  </label>
  <br>
  <label>
    color:
    <select name="cat[color]">
      <option value='<%#= @cat.color %>' selected><%= @cat.color %></option>
      <%# Cat.colors.each do |color| %>
      <%# next if color == @cat.color %>
      <option value="<%#= color %>"><%#= color %></option>
      <%# end %>
    </select>
  </label>
  <br>
  <label>
    Sex:
    <%# if @cat.sex == 'M' %>
      <input type="radio" name="cat[sex]" value="M" checked="checked">M</input>
    <%# else %>
      <input type="radio" name="cat[sex]" value="M">M</input>
    <%# end %>

    <%# if @cat.sex == 'F' %>
      <input type="radio" name="cat[sex]" value="F" checked="checked">F</input>
    <%# else %>
      <input type="radio" name="cat[sex]" value="F">F</input>
    <%# end %>
  </label>
  <br>
  <label>
    Description:
    <br>
    <textarea name="cat[description]" rows="8" cols="80"> <%#= @cat.description %> </textarea>
  </label>
  <br>
  <input type="submit" name="" value="Change a cat"> -->
<!-- </form> -->
