<%= render 'form', cat: @cat, action: :new %>

<%# <form action="<%= cats_url %>
  <!-- <label>
    Name:
    <input type="text" name="cat[name]" value="">
  </label>
  <br>
  <label>
    birth_date:
    <input type="text" name="cat[birth_date]" value="">
  </label>
  <br>
  <label>
    color:
    <select name="cat[color]">
      <option disabled selected>-- select a color--</option>
      <%# Cat.colors.each do |color| %>
      <option value="<%#= color %>"><%#= color %></option>
      <%# end %>
    </select>
  </label>
  <br>
  <label>
    Sex:
    <input type="radio" name="cat[sex]" value="M">M</input>
    <input type="radio" name="cat[sex]" value="F">F</input>
  </label>
  <br>
  <label>
    Description:
    <br>
    <textarea name="cat[description]" rows="8" cols="80"></textarea>
  </label>
  <br>
  <input type="submit" name="" value="Birth a cat">
</form> -->
